// $fa-font-path: "../../pressgang/fonts/fontawesome/5.2.0/" !default;

// Slick
$slick-loader-path: "../../pressgang/img/" !default;

// WP Admin Bar
$collapse-wp-admin-bar-height: 46px;
$wp-admin-bar-height: 32px;


// Hover
$includeClasses: false;