{% extends "page-sidebar.twig" %}

{% block content %}
    {% do action('woocommerce_before_main_content') %}
    <div class="before-shop-loop">
        {% do action( 'woocommerce_before_shop_loop') %}
    </div>
    <div class="loop">
        {% for post in products %}
            {% include ["views/woocommerce/teaser-product.twig"] %}
        {% endfor %}
    </div>
    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
{% endblock  %}