{% extends "page.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-heading">{{ title|e }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="alert alert-warning">{{ content|e }}</p>
        </div>
    </div>
{% endblock %}