{% extends "page.twig" %}

{% block content %}
    {% block before_archive %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">{{ page_title }}</h2>
        </div>
    </div>
    {% endblock %}

    {% block archive %}
        <div class="row">
        {% if posts|length %}
        {% for post in posts %}
            {% block post_preview %}
            <div class="col-md-6">
                {% include 'post-preview.twig' %}
            </div>
            {% endblock %}
        {% endfor %}
        {% else %}
            {% include 'no-posts.twig' %}
        {% endif %}
        </div>
    {% endblock %}

    {% block pagination %}
        <div class="row">
            <div class="col-md-12">
                {% include 'pagination.twig' %}
            </div>
        </div>
    {% endblock %}

{% endblock %}