{% extends "page.twig" %}

{% block content %}
    {% block before_archive %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">{{ page_title }}</h2>
        </div>
    </div>
    {% endblock %}

    {% block archive %}
        {% if posts|length %}
        {% for post in posts %}
            {% if loop.index0 is even %}
            <div class="row">
            {% endif %}
                {%  block post_preview %}
                <div class="col-md-6">
                    {% include 'post-preview.twig' %}
                </div>
                {% endblock %}
            {% if loop.index0 is odd or loop.last %}
            </div>
            {% endif %}
        {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    {% include 'no-posts.twig' %}
                </div>
            </div>
        {% endif %}
        </div>
    {% endblock %}

    {% block pagination %}
        {% if posts|length %}
        <div class="row">
            <div class="col-md-12">
                {% include 'pagination.twig' %}
            </div>
        </div>
        {% endif %}
    {% endblock %}

{% endblock %}