{% extends "page.twig" %}

{% block content %}
    {% block before_archive %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">{{ page_title|e }}</h2>
        </div>
    </div>
    {% endblock %}

    {% block archive %}
        {% if posts|length %}
        <div class="infinite-container">
            {% for row in posts|batch(2) %}
            <div class="row">
                {% for post in row %}
                    {%  block post_preview %}
                    <div class="col-md-6">
                        {% include 'post-preview.twig' %}
                    </div>
                    {% endblock %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    {% include 'no-posts.twig' %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block pagination %}
        {% if posts|length %}
        <div class="row">
            <div class="col-md-12">
                {% include 'pagination.twig' %}
            </div>
        </div>
        {% endif %}
    {% endblock %}

{% endblock %}