<label>
    <span class="customize-skin-select-control">{{ label }}</span>
    <select>
        {% for option in options %}
            <option value="{{ option.value|e('html_attr') }}"{% if option.selected %} selected{% endif %}>{{ option.name|e }}</option>
        {% endfor %}
    </select>
</label>