<div class="fb-like-container">
    <div class="fb-like"
         data-href="{{ url|e('html_attr') }}"
         data-width=""
         data-layout="button_count"
         data-action="like"
         data-size="small"
         data-share="false">
    </div>
</div>