<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/{{ locale|url_encode|default('en_US') }}/sdk.js#xfbml=1&version={{ graph_api_version|url_encode|default('v8.0') }}&appId={{ facebook_app_id|e('html_attr') }}&autoLogAppEvents=1"
        nonce="{{ nonce|e('html_attr') }}">
</script>
