{% extends "base.twig" %}

{% block main %}
<h1>{{ __("You have been press-ganged!") }}</h1>
<p class="alert alert-danger">{{ __("If you can see this then your child theme has not been configured properly.") }}</p>
{% endblock %}