<!-- mobile menu -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">{{ __("Toggle Navigation", THEMENAME) }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% include('brand.twig') %}
</div>
<!-- collapsible nav -->
<div id="navbar-collapse" class="collapse navbar-collapse">
    {% if function('function_exists', 'icl_get_languages') %}
        {% include 'navbar-language-selector.twig' with { languages: function('icl_get_languages') } %}
    {% endif %}
    {% include 'menu.twig' with { 'menu': menu_primary, 'class': 'nav navbar-nav primary' } %}
</div>