<nav class="pager">
    <ul>
        <li>{{ function('previous_post_link', '%link', __("Next: %title")) }}</li>
        <li>{{ function('next_post_link', '%link', __("Previous: %title")) }}</li>
    </ul>
</nav>