<nav class="tag-list">
    <span>{{ __("Tags") }}</span>
    <ul class="fa-ul">
        {% for term in post.terms('tags') %}
        <li><i class="fa-li fa fa-tag"></i><a href="{{term.link}}">{{term.name}}</a></li>
        {% endfor %}
    </ul>
</nav>