<nav>
    <ul class="pager">
        <li class="previous">{{ function('next_post_link', '%link', "&larr; %s"|format(__("Previous: %title", THEMENAME))) }}</li>
        <li class="next">{{ function('previous_post_link', '%link', "%s &rarr;"|format(__("Next: %title", THEMENAME))) }}</li>
    </ul>
</nav>