/* Fixed Navbar
-------------------------------------------------- */

@wp-admin-collapse: 776px;

body {
  padding-top: @collapse-header-height;
  &.admin-bar {
    // padding-top: @collapse-header-height + @collapse-wp-admin-bar-height;
    #header,
    .navbar-fixed-top {
      margin-top: @collapse-wp-admin-bar-height;
    }
  }
}

#header {
  height: @collapse-header-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  .navbar-fixed-top {
    height: @collapse-header-height;
  }
}

/* also fix the wp admin bar */
#wpadminbar {
  position: fixed !important;
}

@media (min-width: @grid-float-breakpoint) {
  body {
    padding-top: @header-height;
    &.admin-bar {
      // padding-top: @header-height; // + @collapse-wp-admin-bar-height;
    }
  }
  #header {
    height: @header-height;
    .navbar-fixed-top {
      height: @header-height;
    }
  }
}

@media (min-width: @wp-admin-collapse) {
  body.admin-bar {
    // padding-top: @header-height + @wp-admin-bar-height;
    #header,
    .navbar-fixed-top {
      margin-top: @wp-admin-bar-height;
    }
  }
}