.navbar {
  .search-form {
    .navbar-form;
    margin-right: 0;
    padding-right: 0;
    #search-submit {
      &:hover {
        color: @white;
      }
    }
  }
}

/* small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .navbar {
    .search-form {
      .pull-right;
      clear: right;
      #search-submit {
        float: none;
        margin-top: 0;
      }
    }
  }
}

@media (min-width: @grid-float-breakpoint) {
  .navbar {
    max-height: @header-height;
    overflow: hidden;
  }
  .navbar-nav {
    .pull-right();
    margin-right: -@navbar-padding-horizontal;
    ~ .navbar-nav {
      margin-right: 0;
    }
  }
}