/* Custom Variables
-------------------------------------------------- */
@wp-admin-bar-height: 32px;
@header-height: 0;
@footer-height: 100px;

/* Font-Awesome Overrides
-------------------------------------------------- */
@fa-font-path: '../../pressgang/fonts';


/* Bootstrap Overrides
-------------------------------------------------- */

