/* Custom Variables
-------------------------------------------------- */
@white: #fff;

@collapse-wp-admin-bar-height: 45px;
@wp-admin-bar-height: 32px;
@collapse-header-height: 100px;
@header-height: 100px;
@footer-height: 100px;

/* Font-Awesome Overrides
-------------------------------------------------- */
@fa-font-path: '../../pressgang/fonts';

/* Slick Overrides
-------------------------------------------------- */

@slick-font-path: '../../pressgang/fonts/';
@slick-loader-path: '../../pressgang/img/';

/* Bootstrap Overrides
-------------------------------------------------- */