$blur-up-px: 20px !default;
$blur-up-duration: 400ms !default;

img {
  &[data-sizes="auto"] {
    display: block;
  }
  &.blur-up {
    will-change: filter;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    filter: blur($blur-up-px);
    transition: filter $blur-up-duration;
    &.lazyloaded {
      filter: blur(0);
    }
  }
  &.lazyload,
  &.lazyloaded {
    display: block;
    width: 100%;
    @include img-fluid;
  }
}